<%= form_for(@node) do |f| %>
    <% if @node.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

          <ul>
            <% @node.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    Game: <%= f.collection_select :game_id, Game.all, :id, :id, prompt: true %><br>
    Player: <%= f.collection_select :player_id, Player.all, :id, :code, prompt: true %><br>
    Data: <br>
    <%= f.text_area :data %>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
